<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net48" />
  <package id="Iesi.Collections" version="4.0.4" targetFramework="net48" />
  <package id="MaterialDesignColors" version="2.0.0-ci2405" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="4.0.0-ci2405" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Toolkit.Mvvm" version="7.0.0-preview4" targetFramework="net48" />
  <package id="Microsoft.Toolkit.UI.XamlHost" version="6.1.2" targetFramework="net48" />
  <package id="Microsoft.Toolkit.Win32.UI.SDK" version="6.1.2" targetFramework="net48" />
  <package id="Microsoft.Toolkit.Win32.UI.XamlApplication" version="6.1.2" targetFramework="net48" />
  <package id="Microsoft.Toolkit.Wpf.UI.Controls" version="6.1.2" targetFramework="net48" />
  <package id="Microsoft.Toolkit.Wpf.UI.XamlHost" version="6.1.2" targetFramework="net48" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.18362.2005" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net48" />
  <package id="NHibernate" version="5.3.5" targetFramework="net48" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net48" />
  <package id="Remotion.Linq.EagerFetching" version="2.2.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Runtime.WindowsRuntime" version="4.6.0" targetFramework="net48" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.6.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="XAML.MapControl" version="5.5.0" targetFramework="net48" />
</packages>